@font-face {
  font-family: 'Barlow';
  src: local('Barlow'), url(./fonts/Barlow-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: bold;
  src: local('Barlow'), url(./fonts/Barlow-Bold.otf) format('opentype');
}

/* @font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('truetype');
} */
